.action_bottom.button.dark {
    display: inline-block;
}

.req_pass {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.breadcrumb>.active {
    color: black;
}

input {
    border-radius: 8px;
}

.btn.btn-signin {
    border-radius: 8px;
}