 #header {
  width: 100%;
  background-color: #e84e72;
}
.padding-lr-0 {
  padding: 0;
}
.topbar {
  padding:5px 24px;
  float: left;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
}
.innerTopbar a {
  color: black;
}
.main-nav > ul {
  text-align: center;
}
.main-menu nav > ul > li {
  display: inline-block;
  margin: 0 8px;
  position: relative;
}
.main-menu nav > ul > li > a {
  text-transform: uppercase;
  float: left;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 0;
  font-weight: 800;
}
.main-menu nav > ul > li > a:hover {
  color: #82cfff  ;
  text-decoration: none;
}
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  float: left;
  width: 100%;
  position: relative;
}
#header.fixed .main-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 8;
  background: white;
}
.main-menu ul {
  margin: 0;
}
.right-header > div {
  margin-top: 40px;
  float: right;
}
.searchHeader {
  position: relative;
}
.searchInput {
  border: 1px solid #f1f1f1;
  border-radius: 16px;
  padding: 0 10px;
  width: 300px;
  height: 32px;
  font-size: 16px;
}
.searchButton {
  position: absolute;
  right: 5px;
  top: 10px;
  border: none;
  background: url(//file.hstatic.net/1000358207/file/searchicon.svg) no-repeat;
  width: 20px;
  height: 15px;
  font-size: 0;
}
.right-header {
  margin: 8px 0 0 0;
  float: right;
  /* width: 100%; */
}
.accountHeader {
  margin: 6px 0 0 0;
  padding: 0 20px;
}
.cartHeader {
  margin: 6px 0 0 0;
  position: relative;
}
.col-lg-2 {
  margin-left: 50px;
  width: 9.666667%;
}
.logo {
  display: inline-block;
  float: left;
  width: 8%;
}
