.main-navbar {
  float: left;
  margin-top: 40px;
  margin-left: 20px;
  /* width: 60%; */
}

.i_angle_down {
  padding-top: 12px;
  font-size: 22px;
}

.main-nav {
  /* margin-top: 40px; */
  margin-left: 0px;
}